<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <meta
        name="theme-color"
        content="#09080b"
    >

    <title>
        {% block title %}
        세일럼 고교
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}?v=11"
    >

    <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
    >
    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap"
        rel="stylesheet"
>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Serif+KR:wght@400;500;700&display=swap"
        rel="stylesheet"
>



</head>


<body class="{% block body_class %}{% endblock %}">

    <header class="site-header">

        <a
            href="{{ url_for('students') }}"
            class="brand"
        >

            <span class="brand-symbol">
                S
            </span>

            <span>
                SALEM ACADEMY
            </span>

        </a>


        {% if session.get("nickname") %}

            <a
                href="{{ url_for('record') }}"
                class="header-link"
            >
                내 기록지
            </a>

        {% else %}

            <span class="header-code">
                EST. 1692
            </span>

        {% endif %}

    </header>


    {% block content %}
    {% endblock %}


    <script
        src="{{ url_for('static', filename='app.js') }}?v=11"
        defer
    ></script>

</body>

</html>